node_modules
www/
.sourcemaps/
platforms/
plugins/android.json
plugins/cordova-plugin-console/
plugins/cordova-plugin-device/
plugins/cordova-plugin-splashscreen/
plugins/cordova-plugin-statusbar/
plugins/cordova-plugin-whitelist/
plugins/cordova-sqlite-storage/
plugins/ionic-plugin-keyboard/
resources/android/
resources/icon.psd.md5
resources/splash.png.md5
www/build/main.css
www/build/main.js
www/build/vendor.js.map
