<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>Questions</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card text-wrap *ngFor = "let question of questions">
    <ion-card-header text-wrap>
        {{ question.QuestionID }}
        {{ question.Question }}
    </ion-card-header>

    <ion-list radio-group>

      <ion-item *ngFor = "let answer of question.answers">
        <ion-label color="dark">{{ answer.value }}</ion-label>
        <ion-radio value="{{answer.id}}" (ionSelect)="selectedAnswer(question.QuestionID, answer.id)"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>

  <button ion-button full (click)="submit()" >Submit</button>
</ion-content>
